/* 
Комментарии
*/
/*<селектор> {
    <свойство>: значение; (; - ВАЖНО!!!)
    <свойство>: значение;
    <свойство>: значение;
    (пример)
    <селектор>{
        font-size: 15px;
        color:red;
        font-family:'Times New Roman';
    }

}*/
/*селектор по идентифткатору */
#test{
   color: rgb(175, 15, 15); 
}